.bar{
color:#dfd0c6;
font-size:40px;
font-family:Yu Gothic;

}



.intrest{
color:#000000;
font-size:100px;
font-family:Yu Gothic;
padding-top:300px;
padding-right:500px;
}

.fonts{
	font-family:Yu Gothic;
}


.marquee{
color:#000000;
font-family:Yu Gothic;
padding-top:50px;
}

.correct{
animation:scroll;
direction:left;
	
}


.unique1{
color:#ff0000;
font-family:Yu Gothic;
text-decoration: underline;
font-size:40px;
}



.unique2{
color:#000000;
font-family:Yu Gothic;
font-size:50px;
}




.unique3{
color:#000000;
font-size:40px;
font-family:Yu Gothic;

}



.pic{
HEIGHT:200px; 
width:250px;
position: absolute;
    top: -20px;
    left: -40px;
	z-index: 1;
  
}

.pic1{
HEIGHT:500px; 
width:550px;
position: absolute;
    top: -130px;
    right: 250px;
	z-index: 1;
  
}

.pic2{
HEIGHT:500px; 
width:550px;
position: absolute;
    top: -130px;
    right: 335px;
	z-index: 1;
  
}

.pic3{
HEIGHT:500px; 
width:550px;
position: absolute;
    top: -120px;
    right: 20px;
	z-index: 1;
	
  
}

.pic4{
HEIGHT:500px; 
width:550px;
position: absolute;
    top: -160px;
    right: -160px;
	z-index: 1;
  
}

.pic5{
HEIGHT:350px; 
width:400px;
position: absolute;
    top: 225px;
    right: 200px;
	z-index: -1;
  
}

.pic6{
HEIGHT:350px; 
width:400px;
position: relative;
    top: 10px;
    right: 30px;
	z-index: -1;
  
}

.pic6A{
HEIGHT:350px; 
width:400px;
position: relative;
    top: 10px;
    right: 5px;
	z-index: -1;
  
}

.pic6B{
HEIGHT:350px; 
width:400px;
position: relative;
    top: 10px;
    left: 20px;
	z-index: -1;
  
}

.pic6C{
HEIGHT:350px; 
width:400px;
position: relative;
    top: 10px;
    left: 70px;
	z-index: -1;
  
}

.pic6D{
HEIGHT:350px; 
width:400px;
position: relative;
    top: 10px;
    left: -1000px;
	z-index: -1;
  
}

.pic7{
HEIGHT:525px; 
width:575px;
position: relative;
   bottom:40px;
  
}

#copy{
text-align:right;
font-style:italic;
width:100

}


body{
background-color:#dfd0c6;

}
header{
	background: #white;
}
.menu li
{
list-style:none;
position:relative;
margin:0px;
padding:0px;
float:left;
}


.menu ul
{
display:none;
position:absolute;
margin:0px;
padding:0px;
}



.menu li:hover > ul
{
display:block;

}


.menu li a
{
display:block;
background:#dfd0c6;
padding:6px 20px;
color:black;
text-decoration:none;
font-weight:bold;
width:165px;
text-transform:uppercase;
text-align:center;
}


.menu li:hover li a:hover{background:#009933;}



.center {
    margin: auto;
	width: 58%;
    padding: 10px;
}
html { overflow-x: hidden; }

.navbar {
	background: #dfd0c6;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

a {
   z-index:3;
}

.shift{
	float: right;
	position: relative;
	z-index: -1;
}

.shiftx{
	float: right;
	position: relative;
	left:500px;
	z-index: -1;
	
}

.shifty{
	float: right;
	position: relative;
	bottom:80px;
	right:150px

}

.shiftText{
	float:right;
	position:relative;
	bottom: 57px;
	left: 550px;
	z-index: -1;
}
